In [9]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [10]:
#load mpg data
df = data('mpg')

In [11]:
#split trans column into auto and manual
df.trans = np.where(df.trans.str.startswith('auto'), 'auto', 'manual')

In [12]:
#split into X and y
X = df[['displ', 'year', 'cyl', 'cty', 'hwy']]
X.head()

   displ  year  cyl  cty  hwy
1    1.8  1999    4   18   29
2    1.8  1999    4   21   29
3    2.0  2008    4   20   31
4    2.0  2008    4   21   30
5    2.8  1999    6   16   26

In [13]:
y = df.trans
y.head()

1      auto
2    manual
3    manual
4      auto
5      auto
Name: trans, dtype: object

In [14]:
#split into train and test only (no validate)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123)

In [15]:
#basic cross validation modeling
#make the thing
tree = DecisionTreeClassifier(max_depth=4, random_state=123)

In [16]:
#fit and score
cross_val_score(tree, X_train, y_train, cv=5)

array([0.57142857, 0.65714286, 0.65714286, 0.57142857, 0.6       ])

In [ ]:
#Grid SearchCV